%h1 Listing guesses

%table
  %thead
    %tr
      %th Game
      %th Guess value
      %th
      %th
      %th
      
  %tbody
    - @guesses.each do |guess|
      %tr
        %td= guess.game
        %td= guess.guess_value
        %td= link_to 'Show', guess
        %td= link_to 'Edit', edit_guess_path(guess)
        %td= link_to 'Destroy', guess, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Guess', new_guess_path
